django>=5.0,<6.0
pillow>=10.0.0
django-allauth>=65.0.0
python-decouple>=3.8
gunicorn>=21.2.0
whitenoise[brotli]>=6.6.0
dj-database-url>=2.1.0
psycopg2-binary>=2.9.9
pymysql>=1.1.0
cryptography>=42.0.0
reportlab>=4.0.0
qrcode[pil]>=7.4.2
opencage>=2.4.0
razorpay>=1.4.1